/* example start*/

*,
 ::after,
 ::before {
    box-sizing: border-box;
}

#example {
    margin: 100px;
    width: 300px;
    display: flex;
    justify-content: space-between;
}

#example .levus-dropdown {
    background: coral;
    flex-basis: 45%;
}

#example .levus-dropdown span {
    display: inline-block;
    padding: 5px;
}

#example ul {
    background: yellowgreen;
    padding: 10px;
}


/* example end */

.levus-dropdown {
    position: relative;
    cursor: pointer;
}

.levus-dropdown ul {
    position: absolute;
    margin: 0;
    display: block;
    min-width: 140px;
    /**/
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    /**/
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
    /**/
    -webkit-transition: transform .5s;
    transition: transform .5s;
}

.levus-dropdown ul.open {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
}

.levus-dropdown li {
    list-style: none;
}

.levus-dropdown.left ul {
    left: -3em;
}

.levus-dropdown.right ul {
    right: -3em;
}

.levus-dropdown span {
    pointer-events: none;
    cursor: pointer;
}